# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Build folders
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini